<html>
<head>
  <title>Employer Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/angularjs.min.js"></script>
    <script src="../js/jquery.min.js"></script>
  <script src="../controller/data_controller.js"></script>
    <link rel="stylesheet" href="../css/style.css">
  <div class="container">
  <div class="jumbotron">
	 <h1 style="color:black"><center>Employer Management</center></h1>
    <p></p>
  </div>
</div>
</head>
<body style="background-color:#FFFFFF" ng-app = "myApp">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Choosen Load</a>
    </div>
    <ul class="nav navbar-nav">
      <li id = 'li1' ng-click="add()" ><a href="#">Emp By Age</a></li>
      <li class="dropdown" id = 'li2' ><a class="dropdown-toggle" data-toggle="dropdown" href="#">Emp By Gender</a>
	  <ul  class="dropdown-menu">
	  <li><a href="#">Male</a> </li>
	  <li><a href="#">Female</a> </li>
	  </ul>
	  </li>
      <li id = 'li3' ng-click="load('Address')"><a href="#">Emp By Address</a></li>
	  <li id = 'li4' ng-click="search('Search')"><a href="#">Search</a></li>
    </ul>
  </div>
</nav>
<table style="width:100%;margin-top:-50px;" ng-controller="ProcessDataController">
<tbody>
<tr>
<td style="width:35%;padding-left:105px;padding-right:30px;vertical-align: top">
<div class = "containForm" >
<form class = "addForm" >
  <fieldset class="form-group" >
    <h4 for="firstname">First Name</h4>
    <input type="text" class="form-control" id="firstname" ng-model = "firstname" placeholder="Put First Name...">
    <small class="text-muted">Please fill the First Name.</small>
  </fieldset>
  <fieldset class="form-group">
    <h4 for="lastname">Last Name</h4>
    <input type="text" class="form-control" id="lastname" ng-model = "lastname" placeholder="Put last name...">
	    <small class="text-muted">Please fill Last Name.</small>
  </fieldset>
   <fieldset class="form-group">
    <h4 for="age">Age</h4>
    <input type="text" class="form-control" id="age" ng-model = "age" placeholder="Put your age...">
	<small class="text-muted">Please input your age.</small>
  </fieldset>
  <fieldset class="form-group">
    <h4 for="gender">Gender</h4>
    <select class="form-control" ng-model = "gender" id="gender">
      <option value = "Male" >Male</option>
      <option value = "Female" >Female</option>
    </select>
	<small class="text-muted">Please Select Your Gender.</small>
  </fieldset>
  <fieldset class="form-group">
    <h4 for="address">Address</h4>
    <input type="text" class="form-control" id="address" ng-model = "address" placeholder="Put address...">
		<small class="text-muted">Please input your address.</small>
  </fieldset>
   <fieldset class="form-group">
    <h4 for="employer">Employee - Company</h4>
    <input type="text" class="form-control" id="employer" ng-model = "employer" placeholder="Put company name...">
			<small class="text-muted">Please input your company name.</small>
  </fieldset>
   <fieldset class="form-group">
    <h4 for="email">Email</h4>
    <input type="text" class="form-control" id="email" ng-model = "email" placeholder="Put your email...">
				<small class="text-muted">Please input your company email.</small>
  </fieldset>
   <fieldset class="form-group">
    <h4 for="description">Description</h4>
	<textarea class="form-control" rows="4" cols="50" id="description" ng-model = "description" placeholder="Write some your description..."> </textarea>
  </fieldset>
  <center><button type="submit" class="btn btn-primary" ng-click="add()">Add New</button></center>
</form>
</div>
</td>

<td style="vertical-align: top;margin-top:10px; padding-right:105px;">
<div class="contentTable" ng-init="initFirst()">
  <h2 style="background-color:green;color:white;border-radius:10px"><center>Data List</center></h2>
  <table class="table">
    <thead>
      <tr>    
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
		<th>Gender</th>
		<th>Address</th>
		<th>Employer</th>
		<th>Email</th>
		<th>Modify</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="account in accounts">  
        <td> {{account._source.firstname}}</td>
        <td> {{account._source.lastname}}</td>
        <td> {{account._source.age}}</td>
		<td> {{account._source.gender}}</td>
        <td> {{account._source.address}}</td>
        <td> {{account._source.employer}}</td>
        <td> {{account._source.email}}</td>
		<td> 
		<table>
		<tr>
		<td>
		  <center><button  class="btn btn-primary" >Detail</button></center>
		</td>
		<td>
		  <center><button  class="btn btn-failure" >Delete</button></center>
		</td>
		<td>
		  <center><button class="btn btn-success" >Update</button></center>
		</td>
		
		
		</tr>
		</table>
		</td>
      </tr>
    </tbody>
  </table>
</div>
</td>

</tr>
</tbody>
</table>
</body>
</html>