<html>

<head>
    <title>Employer Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/angularjs.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/scroll_to_top.js"></script>

    <script src="../controller/data_controller.js"></script>
    <link rel="stylesheet" href="../css/style.css">

    <div class="container">
        <div class="jumbotron">
            <h1 style="color:black"><center>Employer Management</center></h1>
            <p></p>
        </div>
    </div>
    <script language="javascript">
        $(document).ready(function() {
            $("#firstname").keydown(function() {
                if ($("input").val() != null) {
                    $("#smFirstName").css("color", "green");
                    $("#smFirstName").css("color", "green");
                } else {
                    $("#smFirstName").css("color", "red");
                }
            });

            $("#firstname").keyup(function() {
                if ($("input").val() != null) {
                    $("#smFirstName").css("color", "green");
                    $("#smFirstName").css("color", "green");
                } else {
                    $("#smFirstName").css("color", "red");
                }
            });

        });

    </script>
</head>

<body style="background-color:#FFFFFF" ng-app="myApp" ng-controller="ProcessDataController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Choosen Load</a>
            </div>
            <ul class="nav navbar-nav">
                <li id='li1' ng-click="add()"><a href="#">Emp By Age</a></li>
                <li class="dropdown" id='li2'><a class="dropdown-toggle" data-toggle="dropdown" href="#">Emp By Gender</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Male</a> </li>
                        <li><a href="#">Female</a> </li>
                    </ul>
                </li>
                <li id='li3' ng-click="load('Address')"><a href="#">Emp By Address</a></li>
                <li id='li4' ng-click="search('Search')"><a href="#">Search</a></li>
            </ul>
        </div>
    </nav>
    <table id="mainTable" class="table">
        <table id="tableSub1" align="center" class="table">
            <form class="addForm">
                <tr style="width:35%;padding-left:105px;padding-right:30px;vertical-align: top">
                    <td>
                        <fieldset class="form-group">
                            <h4 for="accountNo">ANO</h4>
                            <input type="text" class="form-control" id="accountNo" ng-model="accountno" placeholder="Put Account NO..." required>
                            <small class="text-muted" id="smAccountNo">Please fill the Account Number.</small>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <h4 for="firstname">First Name</h4>
                            <input type="text" class="form-control" id="firstname" ng-model="firstname" placeholder="Put First Name..." required>
                            <small class="text-muted" id="smFirstName">Please fill the First Name.</small>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <h4 for="lastname">Last Name</h4>
                            <input type="text" class="form-control" id="lastname" ng-model="lastname" placeholder="Put last name..." required>
                            <small class="text-muted">Please fill Last Name.</small>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <h4 for="age">Age</h4>
                            <input type="text" class="form-control" id="age" ng-model="age" placeholder="Put your age..." required>
                            <small class="text-muted">Please input your age.</small>
                        </fieldset>
                    </td>

                </tr>
                <tr>
                    <td>
                        <fieldset class="form-group">
                            <h4 for="gender">Gender</h4>
                            <select class="form-control" ng-model="gender" id="gender" required>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                            <small class="text-muted">Please Select Your Gender.</small>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <h4 for="address">Address</h4>
                            <input type="text" class="form-control" id="address" ng-model="address" placeholder="Put address..." required>
                            <small class="text-muted">Please input your address.</small>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <h4 for="employer">Employee - Company</h4>
                            <input type="text" class="form-control" id="employer" ng-model="employer" placeholder="Put company name..." required>
                            <small class="text-muted">Please input your company name.</small>
                        </fieldset>
                    </td>
                    <td>
                        <fieldset class="form-group">
                            <h4 for="email">Email</h4>
                            <input type="text" class="form-control" id="email" ng-model="email" placeholder="Put your email..." required>
                            <small class="text-muted">Please input your company email.</small>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <fieldset class="form-group">
                            <h4 for="description">Description</h4>
                            <textarea class="form-control" rows="4" cols="50" id="description" ng-model="description" placeholder="Write some your description..."> </textarea>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <center>
                            <button type="submit" class="btn btn-primary" ng-click="add()">Add/Update</button>
                        </center>
                    </td>
                </tr>
            </form>
        </table>
        <table class="table">
            <tr>
                <div ng-init="initFirst()">
                    <h2><center>Data List</center></h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>ANO</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Employer</th>
                                <th>Email</th>
                                <th>Modify</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="account in accounts | orderBy : '_source.account_number'">
                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{ $index + 1 }}</td>
                            <td ng-if="$even"> {{ $index + 1 }}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{account._source.account_number}}</td>
                            <td ng-if="$even"> {{account._source.account_number}}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{account._source.firstname}}</td>
                            <td ng-if="$even"> {{account._source.firstname}}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{account._source.lastname}}</td>
                            <td ng-if="$even"> {{account._source.lastname}}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{account._source.age}}</td>
                            <td ng-if="$even"> {{account._source.age}}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{account._source.gender}}</td>
                            <td ng-if="$even"> {{account._source.gender}}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{account._source.address}}</td>
                            <td ng-if="$even"> {{account._source.address}}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1"> {{account._source.employer}}</td>
                            <td ng-if="$even"> {{account._source.employer}}</td>

                            <td ng-if="$odd" style="background-color:#f1f1f1">{{account._source.email}}</td>
                            <td ng-if="$even"> {{account._source.email}}</td>
                            <td ng-if="$odd" style="background-color:#f1f1f1">
                                <table>
                                    <tr>
                                        <td>
                                            <center>
                                                <button class="btn btn-primary">Detail</button>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <button ng-click="deleteEmp(account)" class="btn btn-small btn-danger">Delete</button>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <button ng-click="editEmployee(account)" id="btnUpdate" class="btn btn-success">Update</button>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td ng-if="$even">
                                <table>
                                    <tr>
                                        <td>
                                            <center>
                                                <button class="btn btn-primary">Detail</button>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <button ng-click="deleteEmp(account)" class="btn btn-small btn-danger">Delete</button>
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                <button ng-click="editEmployee(account)" id="btnUpdate" class="btn btn-success">Update</button>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </tr>
        </table>
    </table>

    <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>


</body>

</html>
