.jumbotron{
background-color:#white;
opacity:0.7;
}

nav {
background-color:#FFFFFF;
margin-left: 105px;
margin-right: 100px;
margin-top:-20px;
}

.container-fluid ul li{
width:250px;
}

.container-fluid ul li a{
text-align:center;
}

.container-fluid ul li:hover{
background-color:orange;
 -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
	font-size:20px;
}

.addForm{
margin-left:15px;
margin-right:15px;
margin-top:20px;
margin-bottom:15px;

}

.text-muted{
color:red;
font-size:11px;
}

.containForm {
background-color:#FFFFFF;
border-radius:10px;
}

.contentTable{
background-color:#FFFFFF;
border-radius:10px;
}

.contentTable > h2{

}

.table{
margin-top:20px;
}

body {
	background-image:url('../pic/background.jpg');
}

.table > tbody > tr:hover  {
background-color:#CCFFFF;
}

.table > thead > tr > th, .table > tbody > tr > td {
text-align:center;
}

 #firstname, #lastname, #gender, #age, #address, #employer, #email, #accountNo{
                -webkit-transition:all linear 0.5s;
                transition:all linear 0.5s;
                background: transparent;
				background-color:#green;
            }

#firstname.ng-invalid, #lastname.ng-invalid, #gender.ng-invalid, #age.ng-invalid, #address.ng-invalid, #employer.ng-invalid, #email.ng-invalid, #accountNo.ng-invalid {
                background: #CCCCCC;
            }